{% extends "layout.html" %}



{% block body %}
<br /><br />

<h1 style="font-family: 'Footlight MT Light', sans-serif;font-weight: bold; font-size: 55px;color: maroon;text-align: center;">IDENTIFIED PEST: SAWFLY</h1>

 <section>

    <div class="container">
        <h2 style="padding: 15px; color: #f32d2d; font-weight: bold;font-family: 'Footlight MT Light', sans-serif;font-size: 35px;"
            class="text-center my-3 content-h3">
            RECOMMENDED PRODUCTS</h2>
    </div>

<div class="container">
            <div class="card-columns">
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%; height:300px; width:300px;"
                             class="img-fluid" src="static/img/pesticide/sawfly/krush.jpg" alt="krush">
                        <h3 class="card-text" style="font-family: 'Footlight MT Light', sans-serif;font-weight: bold;color:#ff1cf7">Dose: 1250 ml/Ha</h3>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}